<h1>Editing sub season</h1>

<%= render "form", sub_season: @sub_season %>

<br>

<div>
  <%= link_to "Show this sub season", @sub_season %> |
  <%= link_to "Back to sub seasons", sub_seasons_path %>
</div>
